KW: {{ KW }}

{{~ for group in Plan ~}}
	Klasse: {{ group.Key }}
	{{~ for inhalt in group.Value ~}}
		{{~ for day in inhalt.Value ~}}
			Tag: {{ day.Key }}
			{{~ for tageszeit in day.Value ~}}
				{{ tageszeit.Key }}
					{{~ if tageszeit.Value.Fach ~}}
					Fach:    {{ tageszeit.Value.Fach }}
					{{~ end ~}}
					{{~ if tageszeit.Value.Trainer ~}}
					Trainer: {{ tageszeit.Value.Trainer }}
					{{~ end ~}}
					{{~ if tageszeit.Value.Raum ~}}
					Raum:    {{ tageszeit.Value.Raum }}
					{{~ end ~}}
			{{~ end ~}}
		{{~ end ~}}
	{{~ end ~}}
{{~ end ~}}
===